
/venv
/WeatherStationsAPI/API/__pycache__
/WeatherStationsAPI/API/migrations/__pycache__
/WeatherStationsAPI/WeatherStationsAPI/__pycache__
/WeatherStationsAPI/WeatherStationsAPI/__pycache__
/Project/WeatherStationsApp/migrations/__pycache__
/Project/WeatherStations/__pycache__
/Project/WeatherStationsApp/__pycache__
/WeatherStationsAPI/WeatherStationsAPI/__pycache__
