{% extends 'base.html' %}
{% block page %}
    <div class="description_card">
        <div class="description_card_location">
            <img id="description_photo" src='{{photo}}'>
            <span>{{fullName}}</span>
        </div>
        <div class="location_description">
            <div class="description_field_container">
                <span class="bold">Адрес станции:</span>
                <span class="thin">{{adress}}</span>
            </div>
            <div class="description_field_container">
                <span class="bold">ФИО начальника:</span>
                <span class="thin">{{chiefFIO}}</span>
            </div>
            <div class="description_field_container">
                <span class="bold">Номер телефона станции:</span>
                <span class="thin">{{phoneNumber}}</span>
            </div>
        </div>
    </div>
{% endblock %}