{% extends 'base.html' %}
{% block page %}
    <div class="report_info_container">
        <div class="report_page_title">
            <span class="bold">Регистрация температур</span>
            <div class="date_input_block">
                <span>Дата:  </span>
                <input class="report_date_input" value="{{report_date}}" name="text" type="text">
            </div>
            <form method="POST" action="{% url 'delete_report' report.id %}">
                {% csrf_token %}
                <input type="image" id="bin_image" alt="Удалить" src="http://localhost:9000/weather-station-images/bin_icon.png">
            </form>
        </div>
        <div class="report_info_content">
            <span style="font-weight: 500;">Добавленные метеостанции:</span>
            {% for station in stations %}
                {% include 'report_content.html' with element=station %}
            {% endfor %}
        </div>
    </div>
{% endblock %}