<div class="station_card">
    <a class="station_information" href="../description/{{element.id}}">
        <img  src="{{element.photo_url}}" class="station_card_image">
        <span class="station_card_title">{{element.short_name}}</span>
    </a>
    <span class="station_card_sealevel">Высота над уровнем моря: {{element.sea_level}} м</span>
    <form method="POST" action="{% url 'add_station_to_report' element.id %}">
        {% csrf_token %}
        <input type="submit" class="button" value="Добавить">
    </form>
</div>